@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;700;900&display=swap');
html, body {
    color: #191919;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.btn-theme {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: .8rem 1.6rem;
    font-weight: 600;
    border-radius: 10rem;

    i {
        margin-left: .5rem;
        font-size: .9rem;
    }

    &:hover {
        background-color: #f7cc5e;
    }
}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    text-decoration: none;
    padding: .8rem 1.6rem;
    font-weight: 600;
    border-radius: 10rem;
    text-align: center;

    i {
        margin-left: .5rem;
        font-size: .9rem;
    }

    &:hover {
        background-color: #f7cc5e;
        color: #191919;
    }
}

.btn-trans {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: .75rem 1.6rem;
    font-weight: 600;
    border-radius: 10rem;

    i {
        margin-left: .5rem;
        font-size: .9rem;
    }

    &:hover {
        background-color: #f7cc5e;
    }
}

.biege-background {
    background-color: #F0EFE9;
}

header {
    background-color: #F0EFE9;
    display: flex;
    padding: 1rem;


    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu-bars {
            border: none;
            background-color: transparent;
            font-size: 1.8rem;

            @media (min-width: 1200px) {
                display: none;
            }
        }

        .menu-desktop {
            display: none;
            margin-left: 4.375rem;

            @media (min-width: 1200px) {
                display: flex;
                flex-direction: column;
                flex: 1;
            }

            .menu-desktop-top {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #DAD9D3;
                padding-bottom: 0.2rem;

                .contact-information {
                    display: flex;
                    align-items: center;

                    .contact-information-content {
                        padding-right: 2rem;
                        margin-right: 2rem;
                        font-size: .9rem;
                        border-right: 1px solid #DAD9D3;

                        i {
                            font-size: 1.1rem;
                            margin-right: .3rem;
                        }

                        &.last {
                            border: none;
                            margin-right: -1rem;
                            padding-right: none;
                        }
                    }
                }

                .social-media {
                     a {
                        color: #191919;
                        font-size: 1.3rem;
                        margin-left: 1rem;

                        &:hover {
                            color: #747373;
                        }
                     }
                }
            }

            .menu-desktop-bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 1rem;

                nav {
                    a {
                        display: inline-block;
                        color: #191919;
                        text-decoration: none;
                        margin-right: 2rem;
                        position: relative;

                        &.active {
                            font-weight: 500;
                        }

                        &.active::after,
                        &:hover::after {
                            content: '';
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 1rem;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate(calc(50% - 1rem));
                        }

                    }
                }

                .login-btn {

                }

            }
        }
    }
}

.showcase {
    background-color: #F0EFE9;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content {
            padding: 2rem 0;
            text-align: center;

            @media (min-width: 1200px) {
                text-align: left;
            }
            
            h1 {
                font-size: 2.5rem;
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                
                @media (min-width: 768px) {
                    font-size: 4.375rem;
                }

                @media (min-width: 1200px) {
                    font-size: 4.375rem;
                }

                @media (min-width: 1400px) {
                    font-size: 5.375rem;
                }
            }

            p {

                @media (min-width: 768px) {
                    font-size: 1.25;
                    padding: 3.125rem 0rem;
                }

                font-size: 1rem;
                padding: 3.125rem .8rem;
            }

            a {
                margin-right: 1rem;
                padding: 1rem 1.6rem;
                display: block;
                margin-bottom: 1rem;

                @media (min-width: 412px) {
                    display: inline-block;
                }
            }
        }

        img {
            display: none;
            margin-right: -3.125rem;
            

            @media (min-width: 1200px) {
                display: block;
            }
        }
    }
}

.companies {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-y: hidden;
    overflow-x: scroll;

    @media (min-width: 1200px) {
        overflow-x: hidden;
    }
}

.features {
    padding-top: 4rem;
    padding-bottom: 4rem;

    @media (min-width: 990px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: 1px solid #747373;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .features-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        h1 {
            font-size: 1.1rem;
            font-weight: 500;
            color: #F94D1C;
            margin-bottom: 1rem;
        }

        h2 {
            font-family: 'DM sans', 'Inter';
            font-size: 2.5rem;
            font-weight: 700;
            max-width: 460px;
            margin-bottom: 3rem;
            padding-bottom: 2rem;
        }

        @media (min-width: 990px) {
            text-align: left;
        }
    }

    .features-cards {
        display: none;
        
        i {
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        h3 {
            font-family: 'DM Sans', 'Inter';
            font-weight: 700;
            font-size: 1.25rem;
            color: #191919;
        }

        p {
            margin-top: 2rem;
            color: #747373;
        }

        @media (min-width: 990px) {
            display: grid;
            margin-left: 103px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 1rem 2rem;
            overflow: hidden;
        }

        .features-cards-content {
            max-width: 19rem;
            max-height: 13.75rem;
        }
    }
}

.about-company-wrapper {
    display: flex;
    padding-top: 4rem;
    justify-content: center;
    padding-bottom: 6rem;
    .about-company-img {
        display: none;

        @media (min-width: 1200px) {
            display: flex;
            position: relative;
            margin-left: 3rem;
            padding-right: 3rem;

            .img-quote {
                width: 368px;
                height: 180px;
                left: -3rem;
                bottom: 2.5rem;
                background-color: #BEEBFF;
                position: absolute;
                padding-top: 2rem;
                padding-left: 1.5rem;

                p {
                    color: #191919;
                    font-family: "DM Sans", 'Inter';
                    font-weight: 700;
                    
                    span {
                        color: #F94D1C;
                    }
                }

                .quote-lorem {
                    color: #747373;
                    font-weight: 400;
                    font-style: italic;
                }
            }
        }
    }

    .about-company-content {
        text-align: center;
        max-width: 40rem;
        
        @media (min-width:1200px) {
            text-align: left;
        }

        h2 {
            font-size: 1.125rem;
            color: #F94D1C;
            font-weight: 700;
            padding-top: 2rem;
        }

        h3 {
            font-family: "DM Sans", 'Inter';
            font-size: 2.8125rem;
            font-weight: 700;
            color: #191919;
            padding-bottom: 3rem;
        }

        p {
            color: #747373;
            padding-top: 1rem;
        }

            .about-company-btns {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                padding-top: 2rem;
                
                @media(min-width: 576px) {
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }
                .btn-trans {
                    max-width: 25rem;
                    i {
                        margin-right: 1rem;
                        margin-left: 0;
                    }
                }
                .btn-black {
                    max-width: 25rem;
                }
        }
    }
}

.our-services-wrapper {
    h2 {
        color: #F94D1C;
        font-weight: 700;
        font-size: 1.125rem;
        padding-top: 6rem;
    }

    h3 {
        font-family: "DM Sans", 'Inter';
        font-weight: 700;
        font-size: 2.8125rem;
        max-width: 32rem;
    }

    .cards-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.5rem;
        padding-bottom: 6rem;

        .our-services-card {
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
            justify-content: space-around;
            max-width: 19.25rem;
            height: 20rem;
            background-color: #FFFFFF;

             hr {
                width: 2rem;
                border: 1.2px solid black;
             }
        }
    }
    
}