@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
html, body {
  color: #191919;
  font-family: "inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-theme {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 0.5rem 1.6rem;
  font-weight: 600;
  border-radius: 10rem;
}
.btn-theme i {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}
.btn-theme:hover {
  background-color: #f7cc5e;
}

header {
  background-color: #F0EFE9;
  display: flex;
  padding: 1rem;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .menu-bars {
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
}
@media (min-width: 1200px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu-desktop {
  display: none;
  margin-left: 4.375rem;
}
@media (min-width: 1200px) {
  header .container .menu-desktop {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
header .container .menu-desktop .menu-desktop-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 0.2rem;
}
header .container .menu-desktop .menu-desktop-top .contact-information {
  display: flex;
  align-items: center;
}
header .container .menu-desktop .menu-desktop-top .contact-information .contact-information-content {
  padding-right: 2rem;
  margin-right: 2rem;
  font-size: 0.9rem;
  border-right: 1px solid #DAD9D3;
}
header .container .menu-desktop .menu-desktop-top .contact-information .contact-information-content i {
  font-size: 1.1rem;
  margin-right: 0.3rem;
}
header .container .menu-desktop .menu-desktop-top .contact-information .contact-information-content.last {
  border: none;
  margin-right: -1rem;
  padding-right: none;
}
header .container .menu-desktop .menu-desktop-top .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 1rem;
}
header .container .menu-desktop .menu-desktop-top .social-media a:hover {
  color: #747373;
}
header .container .menu-desktop .menu-desktop-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
header .container .menu-desktop .menu-desktop-bottom nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 2rem;
  position: relative;
}
header .container .menu-desktop .menu-desktop-bottom nav a.active {
  font-weight: 500;
}
header .container .menu-desktop .menu-desktop-bottom nav a.active::after, header .container .menu-desktop .menu-desktop-bottom nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 1rem;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 1rem));
}